* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --black: #0c0c0c;
  --powderblue: #b0e0e6ff;
  --white: #ffff;
  --light_orange: #faebd7;
  --light_green: #90ee90;
}

html {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

ul {
  list-style-type: none;
}

p {
  text-align: center;
  align-items: center;
}

body {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h5 {
  background-color: var(--white);
  height: 30px;
  width: 90px;
  position: static;
  right: 10px;
  margin-left: 10px;
  margin-top: 30px;
  border: 1px solid var(--black);
}

.header {
  grid-area: header;
  height: 100%;
  text-align: right;
  background-color: var(--powderblue);
  display: grid;
  border: 1px solid var(--black);
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header header header header "
    "two  three three three"
    "two four four five"
    "two four four five"
    "two six six five"
    "footer footer footer footer";
}

footer {
  background-color: var(--powderblue);
  border: 1px solid var(--black);
  grid-area: footer;
  height: 100%;
}

article {
  grid-area: two;
  text-align: center;
  background-color: var(--light_orange);
  position: static;
  border: 1px solid black;
}

.two {
  grid-area: two;
  text-align: center;
  background-color: var(--light_orange);
  border: 1px solid var(--black);
  position: static;
}

.three {
  grid-area: three;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: var(--light_green);
  border: 1px solid var(--black);
  position: static;
}

.four {
  grid-area: four;
  height: 400px;
  text-align: center;
  border: 1px solid var(--black);
  overflow: auto;
  position: static;
}

a {
  border: 1px solid var(--black);
  margin: 5px;
  background-color: var(--powderblue);
  padding: 2px;
  display: grid;
  text-decoration: none;
}

.same {
  border: 1px solid var(--black);
  margin: 5px;
  background-color: var(--powderblue);
  padding: 2px;
}

section {
  grid-area: six;
  height: 50px;
  text-align: center;
  background-color: var(--light_green);
  border: 1px solid var(--black);
  align-items: center;
  position: static;
}

aside {
  grid-area: five;
  text-align: center;
  background-color: var(--light_orange);
  position: static;
  border: 1px solid var(--black);
}
